.about {
  padding: 27px 30px 35px;

  @media (min-width: 768px) {
    padding: 49px 50px 35px;
  }

  @media (min-width: 1150px) {
    max-width: 700px;
    margin: 0 auto;
    padding: 59px 50px 42px;
  }
}

.about__title {
  margin: 0 0 0 -2px;
  padding-bottom: 23px;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: 768px) {
    margin-left: -4px;
    padding-bottom: 40px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__points {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  padding: 63px 0 20px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    width: 50%;
    box-sizing: border-box;
    padding: 63px 0 48px;
    font-size: 20px;
    line-height: 22px;
  }
}

.about__item:nth-child(3n + 2) {
  @media (min-width: 768px) {
    order: 1;
  }
}

.about__item:nth-child(3n) {
  @media (min-width: 768px) {
    order: 2;
  }
}

.about__item--eco {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 8px 9px;
}

.about__item--price {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 1px 10px;
}

.about__item--likes {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 8px 14px;
}

.about__item--hand-made {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 4px 11px;
}

.about__item--manufacture {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 0 13px;
  margin-left: -5px;
  padding-left: 5px;
}

.about__item--gift-wrap {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 4px 11px;
}
