.button {
  display: block;
  width: 100%;
  padding: 16px 0;
  border: none;
  box-shadow: inset 2px 2px 0 #444444, inset -2px -2px 0 #444444;
  background: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #444444;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}
