.contacts {
  @media (min-width: 1150px) {
    position: relative;
  }
}

.contacts__wraper {
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    position: relative;
    width: 1150px;
    box-sizing: border-box;
    padding: 0 575px 0 224px;
  }
}

.contacts__wraper--top {
  padding-top: 36px;

  @media (min-width: 768px) {
    padding-top: 61px;
  }

  @media (min-width: 1150px) {
    padding-top: 141px;
  }
}

.contacts__wraper--bottom {
  padding-bottom: 39px;

  @media (min-width: 768px) {
    padding-bottom: 39px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 87px;
  }
}

.contacts__title {
  margin: 0;
  padding-bottom: 26px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  &::after {
    @media (min-width: 768px) {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 81px;
      top: -15px;
      right: 3px;
      background-image: url("../img/style/icon-flag.svg");
      background-repeat: repeat-x;
      background-position: center;
    }

    @media (min-width: 1150px) {
      right: auto;
      top: -8px;
      left: -107px;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    padding-bottom: 49px;
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__items {
  padding-bottom: 37px;

  @media (min-width: 768px) and (max-width: 1149px) {
    display: flex;
    padding-bottom: 56px;
  }
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  min-height: 60px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 768px) and (max-width: 1149px) {
    width: 50%;
  }
}

.contacts__item-name {
  width: 28%;
  padding-right: 1.6%;
  margin: 0;

  @media (min-width: 768px) {
    width: 21%;
    padding-right: 2%;
  }

  @media (min-width: 1150px) {
    padding-right: 3%;
  }
}

.contacts__item-value {
  width: 70.4%;
  margin: 0;

  @media (min-width: 768px) {
    width: 70%;
  }
}

.contacts__item-link {
  display: inline-block;
  color: #444444;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    color: #46c1ae;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 51px;
  }

  @media (min-width: 1150px) {
    position: absolute;
    left: 50%;
    top: 71px;
    margin: 0;
    padding: 0;
  }
}

.contacts__map-image {
  width: 100%;
  height: auto;
}

.contacts__map-frame {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
}

.contacts__button {
  font-size: 18px;

  @media (min-width: 768px) {
    width: 230px;
    margin: 0 auto 18px;
    font-size: 17px;
  }

  @media (min-width: 1150px) {
    margin: 42px 1px 18px;
  }
}
