.header {
  position: relative;
}

.header__logo {
  display: flex;
  order: 1;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  @media (min-width: 768px) {
    padding: 0 35px;
  }
}

.header__logo-link {
  display: flex;
  margin: auto;
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__logo-image {
  width: 86px;
  height: 35px;
  margin-left: -2px;
  @media (min-width: 768px) {
    width: 113px;
    height: 46px;
    margin-bottom: -6px;
  }
  @media (min-width: 1150px) {
    width: 149px;
    height: 72px;
    margin-right: 59px;
  }
}

.header__menu {
  @media (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0 1px 0 #ececec;
  }
}

.header__menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 81px;
  height: 79px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.header__menu--no-js,
.header__menu--open {
  display: block;
  @media (min-width: 768px) {
    display: flex;
  }
}

.header__menu-button--no-js {
  display: none;
}

.header__menu-button--open {
  background-image: url("../img/icon-menu-close.svg");
}

.header__menu-group {
  display: none;
  flex-direction: column;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.header__menu--open .header__menu-group {
  display: flex;
}

.header__promo {
  display: none;
  @media (min-width: 768px) {
    display: block;
    max-width: calc(40% - 60px);
    position: absolute;
    right: 50px;
    bottom: 0;
    transform: translateY(100%);
    padding-top: 18px;
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}
