.order-form__wraper {
  position: relative;
  padding: 7px 30px 32px;
  border: none;

  &:first-child {
    content: none;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: #62d1bb;

    @media (min-width: 768px) {
      content: none;
    }
  }
}

.order-form__wraper--color-group {
  padding: 17px 30px 3px;
}

.order-form__wraper--fio-group {
  padding: 2px 30px 3px;
}

.order-form__group {
  @media (min-width: 768px) {
    background-color: #f1f1f1;
  }

  &:first-child,
  &:nth-child(2n) {
    @media (min-width: 768px) {
      background-color: #ffffff;
    }
  }
}

.order-form__description {
  padding: 7px 30px 24px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__legend {
  display: block;
  position: relative;
  padding: 0 22px 15px 0;
  background-color: #ffffff;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.order-form__field {
  @include visually-hidden();
}

.order-form__field[type="radio"] + .order-form__field-label,
.order-form__field[type="checkbox"] + .order-form__field-label {
  position: relative;
  padding-left: 63px;
}

.order-form__field[type="checkbox"] + .order-form__field-label {
  margin: -8px 0 27px 2px;
}

.order-form__field[type="radio"] + .order-form__field-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  left: 12px;
  box-shadow: 0 0 0 10px #ffffff, 0 0 0 12px #444444;
  background-color: #ffffff;
  border-radius: 20px;
}

.order-form__field[type="radio"]:focus + .order-form__field-label::before,
.order-form__field[type="radio"]:hover + .order-form__field-label::before {
  box-shadow: 0 0 0 10px #ffffff, 0 0 0 12px #62d1ba;
}

.order-form__field[type="radio"]:active + .order-form__field-label::before {
  box-shadow: 0 0 0 10px #ffffff, 0 0 0 12px rgba(68, 68, 68, 0.3);
}

.order-form__field[type="radio"]:checked + .order-form__field-label::before {
  background-color: #62d1ba;
}

.order-form__field[type="checkbox"] + .order-form__field-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 35px;
  top: 3px;
  left: 0;
  box-shadow: 0 0 0 2px #444444;
}

.order-form__field[type="checkbox"]:focus + .order-form__field-label::before,
.order-form__field[type="checkbox"]:hover + .order-form__field-label::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.order-form__field[type="checkbox"]:active + .order-form__field-label::before {
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3);
}

.order-form__field[type="checkbox"]:checked + .order-form__field-label::before {
  background-image: url("../img/style/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.order-form__field-label {
  display: block;
  padding: 12px 0;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.order-form__text-field {
  display: block;
  width: 100%;
  padding: 16px 0;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
}
