.promo {
  position: relative;

  &::after {
    @include psevdo-line-element();
    height: 6px;
    bottom: 0;
    background-image: url("../img/bg-zigzag-line.svg");

    @media (min-width: 768px) {
      height: 17px;
      background-size: 773px 17px;
      transform: scale(1, -1);
    }

    @media (min-width: 1150px) {
      height: 23px;
      background-size: 1050px 23px;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }
}

.promo__wraper {
  padding: 12px 30px 42px;

  @media (min-width: 768px) {
    padding-bottom: 69px;
  }

  @media (min-width: 1150px) {
    padding: 90px 50px 96px;
  }
}

.promo__header {
  @media (min-width: 768px) {
    position: relative;
    z-index: 1;
    padding-bottom: 41px;
  }
}

.promo__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
    margin: 8px 17px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
    margin-left: 171px;
  }
}

.promo__label {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 5px 0 23px;

  @media (min-width: 768px) {
    position: absolute;
    top: 6px;
    right: 32px;
    max-width: 100px;
    text-align: center;
    line-height: 17px;
  }

  @media (min-width: 1150px) {
    right: auto;
    top: 10px;
    left: 33px;
  }
}

.promo__content {
  @media (min-width: 768px) {
    position: relative;
    width: 50%;
    padding: 0 44px 0 18px;
    box-sizing: border-box;
  }

  @media (min-width: 1150px) {
    padding: 0 58px 0 175px;
  }
}

.promo__desc {
  margin: 0;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 33px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 48px;
  }
}

.promo__specifications {
  width: 100%;
  padding-bottom: 27px;
}

.promo__feature-header {
  @include visually-hidden();
}

.promo__feature {
  box-shadow: 0 1px 0 #ececec;
}

.promo__feature-name {
  width: 37%;

  @media (min-width: 768px) {
    width: 33%;
  }
}

.promo__feature-name,
.promo__feature-value {
  padding: 8px 0 10px;

  @media (min-width: 1150px) {
    padding: 5px 0 13px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  background-color: #ececec;

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
  }

  @media (min-width: 1150px) {
    width: 100%;
    height: auto;
  }
}

.promo__price {
  margin: 0;
  padding: 24px 0 26px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 20px;
    padding: 28px 0 34px;
  }

  @media (min-width: 1150px) {
    padding: 79px 0 34px;
  }
}
