.video__wraper {
  padding: 1px 30px 28px;

  @media (min-width: 768px) {
    padding: 38px 50px 33px;
  }

  @media (min-width: 1150px) {
    padding: 22px 50px 75px;
  }
}

.video__item {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px #ececec;
  padding: 0 34px 33px;
  margin-bottom: 30px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 0 42px 46px;
  }

  @media (min-width: 1150px) {
    position: relative;
    padding: 42px 58px 60px 762px;
    min-height: 455px;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px #ececec, 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: inset 0 0 0 1px #ececec, 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  position: relative;
  margin: 0;
  padding: 24px 6px 24px 56px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 30px;
    left: 0;
    background-image: url("../img/style/icon-video.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;

    @media (min-width: 768px) {
      top: 34px;
    }

    @media (min-width: 1150px) {
      position: static;
      margin-bottom: 22px;
    }
  }

  @media (min-width: 768px) {
    padding: 39px 6px 5px 64px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 1150px) {
    padding: 0 0 6px;
  }
}

.video__content {
  position: relative;
  overflow: hidden;
  margin: 0 -34px;
  background-color: #ececec;

  @media (min-width: 768px) {
    margin: 0 -42px;
    order: -1;
    box-shadow: 0 1px 0 0 #ececec;
  }

  @media (min-width: 1150px) {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    margin: 0;
  }
}

.video__item-image {
  display: block;

  @media (min-width: 1150px) {
    height: 455px;
  }
}

.video__play-button {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/style/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101px 78px;
  transition: transform 0.1s;

  &:focus,
  &:hover {
    transform: scale(1.2);
    outline: none;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__desc {
  padding: 27px 0 25px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: 768px) {
    padding: 27px 0 35px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 46px;
  }
}
